<div class="orange container-fluid fill">
<%= image_tag "logo.png", class: "rounded mx-auto d-block logo" %>
<div class="row">
    <div class="container">
        <h1 class="text-center">uwu</h1>
    </div>
</div>
</div>
