<div class="container-fluid navbar-offset">
<% if @card %>
    <%= render partial: 'cards/personal', card: @card %>
<% else %>
    <p class="text-center">Sorry, we weren't able to find that card!</p>
<% end %>
</div>