/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "*";

 /* Custom bootstrap variables must be set or imported *before* bootstrap. */

@import "bootstrap";

/* base */
html, body {
    top: 0px;
    height: 100%;
}

/* colors */
.orange {
    background-color: #FD9A72;
}

.black-text,
.black-text a  {
    color: #033333;
}

/* div arrangement */
.fill { 
    min-height: 100%;
}

.navbar-offset {
    margin-top: 80px;
    padding-top: 40px;
    position: absolute;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    justify-content: flex-start;
}

.navbar .tabs {
    margin-left: 20px;
}

/* elements */
.notice, .alert {
    position: fixed;
}

.logo {
    padding-top: 100px;
    padding-bottom: 50px;
}

.card_search {
    display: flex;
    flex-direction: column;
}

.card_search * {
    align-self: center;
    margin-top: 20px;
}

/* personal data */
.col-mid {
    border: 3px solid #00c6d7;
    border-width: 0px 3px
}

.scrollable {
    height: 200px;
    overflow-y: auto;
}

.scrollable-pump {
    margin-bottom: 10px;
}