<div class="mx-auto navbar orange">
    <div class="tabs black-text">
        <%= link_to "Home", root_path %>
    </div>
    <div class="tabs black-text">
        <%= link_to "Card Search", card_search_path %>
    </div>
    <div class="tabs black-text">
        <%= link_to "Partner's Dashboard", viewer_path %>
    </div>
</div>